/* header container */
.header {
  display: grid;
  height: 50px;
  background-color: rgb(158, 163, 177);
}

.header img{
  display: inline;
  float: left;
  width: 140px;
  height: 70px;
  border-radius: 10px;
  padding: 13px;
}

.header h2{
  text-align: center;
  align-items: center;
  /* display: inline; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
}